/*Header*/

.color {
    background: #FFFF01;
    width: 100%;
    height: 80px;
}


/*Logo*/

.image {
    width: 100px;
    height: 100px;
    padding-bottom: 20px;
}


/*Navbar*/

.navbar-nav > li > a,
.navbar-nav {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 30px;
}

.navbar {
    min-height: 30px !important;
}
