<div>
	
<div class="panel panel-primary">
<div class="panel-heading">
	<h1>Quote Generator</h1>
</div>
<div class="panel-body">
<div>
<label><strong>Number of Print Pieces</strong></label>
<br/>
<input type="text" placeholder="No. of Pieces...">
</div>
<br/>
<div>
<label><strong>Number of Colors</strong></label>
<br/>
<select>
  <option value="1">1 Color</option>
  <option value="2">2 Colors</option>
  <option value="3">3 Colors</option>
  <option value="4">4 Colors</option>
  <option value="5">5 Colors</option>
  <option value="6">6 Colors</option>
  <option value="7">7 Colors</option>
  <option value="8">8 Colors</option>
  <option value="9">9 Colors</option>
  <option value="10">10 Colors</option>
</select>
</div>
<br/>
<div>
<label><strong>Number of Print Locations</strong></label>
<br/>
	<input type="text" placeholder="No. of Locations...">
</div>





</div>
</div>
















</div>