<pre>{{vm.allOrders}}</pre>
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by Order ID...">
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</div>
<div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            Orders Form
        </div>
        <div class="panel-body">
            <!-- Order table -->
            <table class="table table-hover table-striped">
                <tr>
                    <th>Order Id</th>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>Total Cost</th>
                    <th>Total Profit</th>
                    <th>Order Status</th>
                    <th>Order Date</th>
                </tr>
                <tr ng-repeat="order in vm.allOrders">
                    <td>{{order.orderId}}</td>
                    <td>{{order.customerId}}</td>
                    <td>{{order.orderTotal}}</td>
                    <td>{{order.totalCost}}</td>
                    <td>{{order.totalProfit}}</td>
                    <td>{{order.orderStatus}}</td>
                    <td>{{order.orderCreatedDate}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
