<div class="row">
    <div ng-hide="vm.orderSearchView">
        <div class="col-md-12">
            <div class="navbar-form navbar-right" role="search">
                <div class="form-group form-group-sm">
                    <input type="text" class="form-control" ng-model="vm.orderSearch" placeholder="Search...">
                </div>
            </div>
            <div class="navbar-form navbar-right">
                <div class="form-group form-group-sm">
                    <button type="button" class="btn btn-custom btn-sm" ng-click="vm.addNewOrder =!vm.addNewOrder; vm.orderSearchView = !vm.orderSearchView">Add New Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div ng-hide="vm.addNewOrder">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Orders Form</div>
            <div class="panel-body">
                <!-- Order table -->
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-condensed">
                        <tr>
                            <th>Order Id</th>
                            <th>Customer Id</th>
                            <th>Customer Name</th>
                            <th>Total Cost</th>
                            <th>Total Profit</th>
                            <th>Order Total</th>
                            <th>Order Completed</th>
                            <th>Order Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="order in vm.allOrders | filter: vm.orderSearch">
                            <td>{{order.orderId}}</td>
                            <td>{{order.customerId}}</td>
                            <td>{{order.customer}}</td>
                            <td>{{order.totalCost}}</td>
                            <td>{{order.totalProfit}}</td>
                            <td>{{order.orderTotal}}</td>
                            <td>{{order.orderStatus}}</td>
                            <td>{{order.orderCreatedDate | date}}</td>
                            <td>
                                <button ng-hide="vm.updateButton" type="button" class="btn btn-custom btn-xs" ng-click="vm.updateButton = !vm.updateButton; vm.editButtons = !vm.editButtons">Update</button>
                                <button ng-show="vm.editButtons" type="button" class="btn btn-warning glyphicon glyphicon-pencil btn-xs" ng-click="vm.populateOrderForm(order); vm.updateButton = !vm.updateButton; vm.editButtons = !vm.editButtons"> Edit</button>
                            </td>
                            <td>
                                <button ng-show="vm.editButtons" type="button" class="btn btn-danger btn-xs glyphicon glyphicon-remove" ng-click="vm.removeOrder(order.orderId); vm.updateButton = !vm.updateButton; vm.editButtons = !vm.editButtons"> Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div ng-show="vm.addNewOrder">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Order Registration Form
            </div>
            <div class="panel-body">
                <!-- Add new or update customer form  -->
                <form class="form">
                    <div class="form-group form-group-sm">
                        <label for="customerName">Customer Name</label>
                        <select id="customerName" ng-model="vm.selectedCustomer" name="selectCustomer" class="form-control" ng-options="allCustomers.customerId as allCustomers.firstName+' '
                         + allCustomers.lastName for allCustomers in vm.allCustomers">
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="orderTotal">Order Total</label>
                        <input id="orderTotal" type="number" class="form-control" ng-model="vm.orderTotal">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="totalCost">Total Cost</label>
                        <input id="totalCost" type="number" class="form-control" ng-model="vm.totalCost">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="totalProfit">Total Profit</label>
                        <input id="totalProfit" type="number" class="form-control" ng-model="vm.totalProfit">
                    </div>
                    <div class="form-group form-group-sm">
                        <input id="orderStatus" type="checkbox" ng-model="vm.orderStatus">
                        <label for="orderStatus">Order Status</label>
                    </div>
                    <div class="form-group form-group-sm">
                        <button type="submit" class="btn btn-custom btn-xs" ng-click="vm.addOrder();" vm.addNewOrder=!vm.addNewOrder ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
