<div>
	<!-- Begin Panel -->
<div class="panel panel-primary">
<!-- Begin Panel Heading -->
    <div class="panel-heading text-center">
        <h1>Quote Generator</h1>
    </div>
    <!-- Begin panel body -->
    <div class="panel-body">
    <!-- Input number of pieces in order -->
        <div>
            <label><strong>Number of Print Pieces</strong></label>
            
            <input type="text" placeholder="No. of Pieces...">
        </div>
        
        <!-- Dropdown select: 10 colors total  -->
        <div>
            <label><strong>Number of Colors</strong></label>
            
            <select>
                <option value="1">1 Color (Example: ng-repeat goes here)</option>
                <option value="2">2 Colors (Example)</option>
            </select>
        </div>
        
        <!-- Print Locations on T-Shirt (can have multiple) $.75 charge for each location after the 1st-->
        <div>
            <label><strong>Number of Print Locations</strong></label>
            
            <input type="text" placeholder="No. of Locations...">
        </div>
        <div>
        <!-- Checkboxes -->
        <div class="">
        <label><strong>Check if Yes:</strong></label>
        </div>
        <!-- per unit cost -->
        <div class="checkbox">
            <label>
                <input type="checkbox">Metalic Links</label>
        </div>
        <!-- per unit cost -->
        <div class="checkbox">
            <label>
                <input type="checkbox">Discharge</label>
        </div>
		<!-- per unit cost -->
        <div class="checkbox">
            <label>
                <input type="checkbox">Foil</label>
        </div>
        <!-- per unit cost -->
        <div class="checkbox">
            <label>
                <input type="checkbox">Flash</label>
        </div>
        <!-- PMS Color Matching is $15 per color per job -->
        <div class="checkbox">
            <label>
                <input type="checkbox">PMS Color Matching</label>
        </div>
        <!-- Button should be disabled or hidden if order is less than 72 items -->
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">Folding and Bagging</label>
        </div>
        <!-- 8% CA Sales tax is charged for customers who will not resale product -->
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">Sales Tax</label>
        </div>
        <div>
        	<label>Profit Margin</label>
        	<input type="text" ng-model="vm.LineIitemProfitMargin">
        </div>
        <div>
  		      <button class="btn btn-primary">Submit</button>
        </div>
        <div>
        	<table class="table">

        		<tr>
        			<td>Line Item Cost</td>
        			<td>$xx</td>
        		</tr>
        		<tr>
        			<td>Client qoute</td>
        			<td>xx</td>
        		</tr>
        		<tr>
        			<td> Line item profit</td>
        			<td>xx</td>
        		</tr>
        	</table>
        </div>
        <div>
        	<table class="table table-condensed">
        		<tr>
        			<th>Product Code</th>
        			<th>Name</th>
        			<th>Cost per Item</th>
        			<th>Description</th>
        			<th>Pieces</th>
        			<th>colors</th>
        			<th>Print Locations</th>
        			<th>Metalic Links</th>
        			<th>Discharge</th>
        			<th>Foil</th>
        			<th>Flash</th>
        			<th>PMS Color Matching</th>
        			<th>Folding and Bagging</th>
        			<th>Sales Tax</th>
					<th>Profit Margin</th>
					<th>Total Line Cost</th>
					<th>Client Quote</th>
					<th>Profit</th>
        		</tr>
        		<tr>
        			<td></td>
        		</tr>
        	</table>
       	</div>
</div>
</div>
</div>
</div>