<!-- Add customer select dropdown -->
<!-- Quote Input Panel Start -->
<div class="container">
    <!-- Quote Calculator -->
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Quote Calculator</div>
                <div class="panel-body">
                    <div class="form">
                        <div class="form-group form-group-sm">
                            <label for="colors">OrderID and Customer Name</label>
                            <select id="colors" class="form-control input-sm" ng-model="vm.colors">
                                <option selected disabled hidden>Colors</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                                <option value="6">Six</option>
                                <option value="7">Seven</option>
                                <option value="8">Eight</option>
                                <option value="9">Nine</option>
                                <option value="10">Ten</option>
                            </select>
                        </div>
                      
                        <div class="form-group form-group-sm">
                            <label for="productCode">VendorName</label>
                            <input ng-model="vm.VendorName" class="form-control input-sm" >
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="productCode">CategoryId</label>
                            <input  ng-model="vm.CategoryId" class="form-control input-sm" >
                        </div>

                         <div class="form-group form-group-sm">
                            <label for="productCode">CategoryName</label>
                            <input ng-model="vm.CategoryName" class="form-control input-sm" >
                        </div>

                         <div class="form-group form-group-sm">
                            <label for="productCode">BrandName</label>
                            <input ng-model="vm.BrandName" class="form-control input-sm" >
                        </div>

                         <div class="form-group form-group-sm">
                            <label for="productCode">StyleId</label>
                            <input ng-model="vm.StyleId" class="form-control input-sm" >
                        </div>

                        <div class="form-group form-group-sm">
                            <label>Vendor CasePrice</label>
                            <input ng-model="vm.CasePrice" class="form-control input-sm" >
                        </div>

                        <div class="form-group form-group-sm">
                            <label>StyleTitle</label>
                            <input ng-model="vm.StyleTitle" class="form-control input-sm" >
                        </div>
                                                

                        <div class="form-group form-group-sm">
                            <label for="productCode">Description</label>
                            <input id="productCode" ng-model="vm.description" type="number" class="form-control input-sm">
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="cost">TotalPieces</label>
                            <input ng-model="vm.TotalPieces" type="number" step="any" class="form-control input-sm" >
                        </div>

                        <!-- Dropdown select: 10 colors total  -->
                        <div class="form-group form-group-sm">
                            <label for="colors">TotalNumberColors</label>
                            <input type="number"  class="form-control input-sm" ng-model="vm.TotalNumberColors">
                        </div>
                        <!-- Print Locations on T-Shirt (can have multiple) $.75 charge for each location after the 1st-->
                        <div class="form-group form-group-sm">
                            <label >NumberPrintLocations</label>
                            <input ng-model="vm.NumberPrintLocations" type="number" class="form-control input-sm">
                        </div>


                        <!-- Checkboxes -->
                        <div class="form-group form-group-sm">
                            <label for="addOns">Add-On's:</label>
                            <div id="addOns">
                                <!-- per unit cost -->
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="vm.metallicInks" type="checkbox" value="false">Metalic Inks</label>
                                </div>
                                <!-- per unit cost -->
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="vm.discharge" type="checkbox" value="false">Discharge</label>
                                </div>
                                <!-- per unit cost -->
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="vm.foil" type="checkbox" value="false">Foil</label>
                                </div>
                                <!-- per unit cost -->
                                <div class="checkbox" value="false">
                                    <label>
                                        <input ng-model="vm.flash" type="checkbox" value="false">Flash</label>
                                </div>
                                <!-- PMS Color Matching is $15 per color per job -->
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="vm.PMSColor" type="checkbox" value="false">PMS Color Matching</label>
                                </div>
                                <!-- Button should be disabled or hidden if order is less than 72 items -->
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="vm.folding" type="checkbox" value="false">Folding and Bagging</label>
                                </div>
                                <!-- 8% CA Sales tax is charged for customers who will not resale product -->
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="vm.tax" type="checkbox" value="false">Sales Tax</label>
                                </div>
                                <!-- Profit Margin slider need to be a percentage -->
                                <div class="form-group form-group-sm">
                                    <label for="profitMargin">Profit Margin -
                                        <a class="profitMargin" id="profitMargin">{{vm.profitMargin + "%"}}</a>
                                    </label>
                                    <br>
                                    <input type="range" ng-model="vm.profitMargin" class="input-sm">
                                </div>
                                <button ng-click="vm.addOrderLineItem()" class="btn btn-custom btn-sm">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="panel panel-default ">
                <div class="panel-heading text-center table-condensed">Line Item Totals</div>
                <div class="panel-body ">
                    <table class="table table-striped ">
                        <tr>
                            <td>Line Item Expense</td>
                            <td>$1500</td>
                        </tr>
                        <tr>
                            <td>Client Quote</td>
                            <td>$3000</td>
                        </tr>
                        <tr>
                            <td>Line Item Profit Margin</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Line Item Profit</td>
                            <td>$1500</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading text-center">Order Grand Totals</div>
                <div class="panel-body ">
                    <table class="table table-striped table-condensed">
                        <tr>
                            <td>Total Order Expense</td>
                            <td>$4000</td>
                        </tr>
                        <tr>
                            <td>Total Order Quote</td>
                            <td>$8000</td>
                        </tr>
                        <tr>
                            <td>Total Profit Margin</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Total Order Profit</td>
                            <td>$4000</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default ">
                <div class="panel-heading text-center">Order Line Items Table</div>
                <div class="panel-body ">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-condensed">
                                <tr>
                                    <th>Order Line ID</th>
                                    <th>Order Line Description</th>
                                    <th>Total Pieces</th>
                                    <th>TotalNumberColors</th>
                                    <th>NumberPrintLocations</th>
                                    <th>MetallicLinks</th>
                                    <th>Discharge</th>
                                    <th>Foil</th>
                                    <th>PMS Color Matching</th>
                                    <th>Flash</th>
                                    <th>Folding and Bagging</th>
                                    <th>Sales Tax</th>
                                    <th>Set Up</th>
                                    <th>OrderLineItemCost</th>
                                    <th>ProfitMargin</th>
                                    <th>OrderLineItemClientEstimate</th>
                                    <th>OrderLineItemProfit</th>
                                    <th>OrderLineItemCreatedDate</th>
                                    <th>VendorName</th>
                                    <th>CategoryId</th>
                                    <th>CategoryName</th>
                                    <th>BrandName</th>
                                    <th>StyleId</th>
                                    <th>CasePrice</th>
                                    <th>StyleTitle</th>
                                </tr>
                                <tr ng-repeat="lineItem in vm.allOrderLineItems ">
                                    <td>{{lineItem.orderLineItemId}}</td>
                                    <td>{{lineItem.Description}}</td>
                                    <td>{{lineItem.TotalPieces }}</td>
                                    <td>{{lineItem.TotalNumberColors}}</td>
                                    <td>{{lineItem.NumberPrintLocations}}</td>
                                    <td>{{lineItem.MetallicLinks}}</td>
                                    <td>{{lineItem.Discharge}}</td>
                                    <td>{{lineItem.Foil }}</td>
                                    <td>{{lineItem.PMSColorMatching }}</td>
                                    <td>{{lineItem.Flash}}</td>
                                    <td>{{lineItem.FoldingAndBagging}}</td>
                                    <td>{{lineItem.SalesTax}}</td>
                                    <td>{{lineItem.SetUp}}</td>
                                    <td>{{lineItem.OrderLineItemCost}}</td>
                                    <td>{{lineItem.ProfitMargin}}</td>
                                    <td>{{lineItem.OrderLineItemClientEstimate}}</td>
                                    <td>{{lineItem.OrderLineItemProfit}}</td>
                                    <td>{{lineItem.OrderLineItemCreatedDate}}</td>
                                    <td>{{lineItem.VendorName}}</td>
                                    <td>{{lineItem.CategoryId}}</td>
                                    <td>{{lineItem.CategoryName}}</td>
                                    <td>{{lineItem.BrandName}}</td>
                                    <td>{{lineItem.StyleId}}</td>
                                    <td>{{lineItem.CasePrice}}</td>
                                    <td>{{lineItem.StyleTitle}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
