<div class="container">
    <div ng-hide="view1">
        <div class="row">
            <div class="col-sm-3">
                <!-- New Customer or Existing -->
                <div class="form">
                    <div class="form-group">
                        <button type="button" class="btn btn-custom btn-sm" ui-sref="home.customer">Add New Customer</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-custom btn-sm">Search Customer's</button>
                    </div>
                </div>
            </div>
            <!-- New Order or Existing -->
            <div class="col-sm-9">
                <img class="image2" src="app/styles/img/LogoRedWhite.svg">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="form">
        <div class="form-group">
            <button type="button" class="btn btn-custom btn-xs">Add New Order</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-custom btn-xs">Select Existing Order</button>
        </div>
    </div>
</div>
