<div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Choose Category</label>
    <div class="col-md-4">
        <select ng-model="vm.categoryId" id="selectbasic" name="selectbasic" class="form-control" ng-options="data.categoryID as data.name for data in vm.data">
        </select>
    </div>
</div>
<button ng-click="vm.findStyleByCatId(vm.categoryId)" class="btn btn-custom btn-sm">Search Style</button>
</div>
<div>
    <div class="row" style="margin-top: 24px;">
        <div class="col-sm-6 col-md-4" ng-repeat="style in vm.itemStyleByCatId track by $index">
            <img ng-src="https://www.ssactivewear.com/{{style.styleImage}}">
            <br />
            <strong>Brand Name:</strong>{{style.brandName}}
            <br />
            <strong>Title:</strong>{{style.title}}
            <br />
            <strong>Style ID:</strong>{{style.styleID}}
            <br />
            <strong>Average Case Price:</strong> <span class="text-success">{{style.averagePrice | currency}}</span>
            <br />
            <!--  <strong>Qty in stock: </strong>{{style.qty}}<br />
            <strong>Case Qty:</strong>{{style.caseQty}} -->
        </div>
        <div class="clearfix" ng-if="$index % 3 === 0"></div>
    </div>
</div>
